body {
  font-family: 'Roboto Condensed', sans-serif;

}

.section:nth-child(1) {
  background-image: url(http://static.simpledesktops.com/uploads/desktops/2010/04/05/jessneil-snacks.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  background-position: center;
  font-size: 16px;
}

.firstDiv {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative; top: 100px;
}

.container-text {
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-text img {
  width: 150px;
  height: 150px;
}

.first_text {
  border-top: 3px solid #EDF01D;
  border-bottom: 3px solid #EDF01D;
  width: 400px;
  height: 150px;
  text-align: center;
  color: #201E21;
  font-weight: bolder;
}

.test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}



.section:nth-child(2) {

}

.container-second {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.prez {
  background-color: #EAF4D3;
  width: 500px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-top: 3px solid #EDF01D;
  border-left: 3px solid #EDF01D;
  border-bottom: 3px solid #EDF01D;
}

.prez img {
  width: 200px;
  height: 150px;
  border-bottom: 3px solid #EDF01D;
  border-top: 3px solid #EDF01D;
}

.prez-text {
  width: 90%;
}

.skill {
  width: 500px;
  height: 450px;
  background-color: #EAF4D3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-top: 3px solid #EDF01D;
  border-right: 3px solid #EDF01D;
  border-bottom: 3px solid #EDF01D;
  padding-right: 10px;
}


/** SKILL BAR **/

        .skillbar {
          position:relative;
          display:block;
          margin-bottom:15px;
          width:100%;
          background:#eee;
          height:35px;
          border-radius:3px;
          -moz-border-radius:3px;
          -webkit-border-radius:3px;
          -webkit-transition:0.4s linear;
          -moz-transition:0.4s linear;
          -ms-transition:0.4s linear;
          -o-transition:0.4s linear;
          transition:0.4s linear;
          -webkit-transition-property:width, background-color;
          -moz-transition-property:width, background-color;
          -ms-transition-property:width, background-color;
          -o-transition-property:width, background-color;
          transition-property:width, background-color;
        }

        .skillbar-title {
          position:absolute;
          top:0;
          left:0;
        width:110px;
          font-weight:bold;
          font-size:13px;
          color:#ffffff;
          background:#6adcfa;
          -webkit-border-top-left-radius:3px;
          -webkit-border-bottom-left-radius:4px;
          -moz-border-radius-topleft:3px;
          -moz-border-radius-bottomleft:3px;
          border-top-left-radius:3px;
          border-bottom-left-radius:3px;
        }

        .skillbar-title span {
          display:block;
          background:rgba(0, 0, 0, 0.1);
          padding:0 20px;
          height:35px;
          line-height:35px;
          -webkit-border-top-left-radius:3px;
          -webkit-border-bottom-left-radius:3px;
          -moz-border-radius-topleft:3px;
          -moz-border-radius-bottomleft:3px;
          border-top-left-radius:3px;
          border-bottom-left-radius:3px;
        }

        .skillbar-bar {
          height:35px;
          width:0px;
          background:#6adcfa;
          border-radius:3px;
          -moz-border-radius:3px;
          -webkit-border-radius:3px;
        }

        .skill-bar-percent {
          position:absolute;
          right:10px;
          top:0;
          font-size:11px;
          height:35px;
          line-height:35px;
          color:#ffffff;
          color:rgba(0, 0, 0, 0.4);

        }


/** FIN SKILL BAR**/

.section:nth-child(3) {

}

.slide {
  
}

.slide-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 3px solid #F5DE2C;
  width: 80%;
  height: 80%;
}

.slide-css {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.slide-text {
  min-width: 250px;
  min-height: 400px;
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
} 

.fa-github {
  color: black;
  align-self: center;
}

.project-github {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.slide-img {
  width: 45%;
  height: 60%;
} 

.img-projet {
  width: 100%;
  height: 100%;
}

.section:nth-child(4) {

}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-text {
  text-align: center;
}

.contact-social {
  width: 80%;
  height: 80%;
  border: 3px solid #F5DE2C;
  background-color: #EAF4D3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-link {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-link a {
  color: black;
}

@media screen and (min-width: 200px) and (max-device-width: 810px) {
  .container-second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .prez {
    border-left: 3px solid #EDF01D;
    border-top: 3px solid #EDF01D;
    border-right: 3px solid #EDF01D;
    font-size: 19px;
    text-align: center;
  }

  .skill {
    border-left: 3px solid #EDF01D;
    border-bottom: 3px solid #EDF01D;
    border-right: 3px solid #EDF01D;
    padding-right: 0px;
  }

}

@media screen and (min-width: 819px) and (max-width: 1024px) {
  

}